.sidenav-container {
  position: absolute;
  width: 440px;
  height: 680px;
  left: 0px;
  top: 0px;
  background: linear-gradient(134.86deg, #000117 25.06%, #0B0D34 82.21%);
}

.sidenav-text {
  position: absolute;
  /* width: 201px;
  height: 20px; */
  left: 32px;
  top: 600px;

  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #4C4D5D;
}

.sidenav-image {
  position: absolute;
  width: 200px;
  height: 48px;
  left: 32px;
  top: 48px;
}