.sidenav-container {
  height: 100%;
  background: linear-gradient(134.86deg, #000117 25.06%, #0B0D34 82.21%);
}

.sidenav-text {
  position: absolute;
  bottom: 1%;
  left: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #4C4D5D;
}

.sidenav-image {
  width: 200px;
  padding: 48px 0 0 32px;
}